<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style_createBucket.css" />
    <title>Create Bucket 🪣</title>
  </head>
  <body>
    <div class="wrapper">
      <h1> New Goal <h1>
        <form id="createNewBucketForm" method="POST" action="/feeds/createBucket">
          <button id="submitBtn" type="submit">Create New Bucketlist</button>

          <p>Set Due Date</p>
          <input type="date" id="dueDate" name="dueDate"
          value=<%=today%>
          min=<%today%> max="2018-12-31">
   
        <div class="input-container">
          <div class="profile-photo"></div>
          <p class="newBucketTitle">Your New Bucketlist: </p>
          <textarea
            style="outline: none; resize: none"
            type="text"
            name="newBucket"
            placeholder="What's your next goal?"
            class="create_post"
            required></textarea>
          </textarea>
        </div>
      
        
        <p>Choose your Tag</p>
        <% tags.forEach(tag => { %>
          <input type="checkbox" id="tag" name="tag" value="<%=tag.id%>">
          <label for="<%=tag.id%>"><%=tag.tagName%></label><br>
        <% }) %>
      </form>      
      

      

      <div class="navbar">
        <a href="/feeds/home">
          <img
            src="../styles/images/home_icon_noBackground.png"
            alt="Home"
            width="40"
            height="40"
          />
        </a>
        <a href="/search">
          <img
            src="../styles/images/search_icon_noBackground.png"
            alt="Search"
            width="40"
            height="40"
          />
        </a>
        <div class="circle">
          <a href="/feeds/buckets?show=inprogress">
            <img
              src="../styles/images/bucket_icon_noBackground.png"
              alt="Bucket"
              width="50"
              height="50"
            />
          </a>
        </div>
        <a href="/notes">
          <img
            src="../styles/images/note_icon_noBackground.png"
            alt="Notes"
            width="40"
            height="40"
          />
        </a>
        <a href="/profile/<%=user_id%>">
          <img
            src="../styles/images/profile_icon_noBackground.png"
            alt="Profile"
            width="40"
            height="40"
          />
        </a>
      </div>
    </div>
    <script>
      const form = document.querySelector("form");

  
      function goBack() {
        window.history.back();
      }
  
  
  
      const bucketImgs = document.querySelectorAll(".bucket-img");
      bucketImgs.forEach((bucketImg) => {
        bucketImg.addEventListener("click", () => {
          if (bucketImg.src.endsWith("inProgress_icon_noBackground.png")) {
            bucketImg.src = "../styles/images/red_icon_noBackground.png";
          } else if (bucketImg.src.endsWith("red_icon_noBackground.png")) {
            bucketImg.src = "../styles/images/completed_icon_noBackground.png";
          } else {
            bucketImg.src = "../styles/images/inProgress_icon_noBackground.png";
          }
        });
      });
    </script>
  </body>
</html>