<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style_mainfeed.css" />
    <script defer src="myscripts.js"></script>
    <title>Main Feed</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="posts-container">

        <% feed.user.buckets.forEach( bucket => { %> 
          <% bucket.messages.forEach( message => { %>
            <div class="post">
              <img src="<%=feed.user.profileImg %>" style="z-index: 0;" class="user-picture user-avatar">
              <div class="post-content" style="padding: 10px">
                <p class="feed.user.username"><%= feed.user.username %></p>
                <p class="bucket-info">
                  <%= bucket.title %>
                  <span class="<%= bucket.completed ? 'Completed': 'InProgress' %>"><%= bucket.completed ? 'Completed': 'In Progress' %></span>
                </p>
                <p class="post-message"><%= message.content %></p>
              </div>
            </div>
      <% }) %>
     <% }) %>
     
        <% feed.following.forEach(user => { %> 
          <% user.buckets.forEach( bucket => { %> 
            <% bucket.messages.forEach( message => { %>
              <div class="post">
                <img src="<%=user.profileImg %>" style="z-index: 0;" class="user-picture user-avatar">
                <div class="post-content" style="padding: 10px">
                  <p class="username"><%= user.username %></p>
                  <p class="bucket-info">
                    <%= bucket.title %>
                    <span class="<%= bucket.completed ? 'Completed': 'InProgress' %>"><%= bucket.completed ? 'Completed': 'In Progress' %></span>
                  </p>
                  <p class="post-message"><%= message.content %></p>
                </div>
              </div>
        <% }) %>
       <% }) %>
      <% }) %>

     

      </div>
      <div class="navbar">
        <a href="/feeds/home">
          <img
            src="../styles/images/home_icon_noBackground.png"
            alt="Home"
            width="40"
            height="40"
          />
        </a>
        <a href="/search">
          <img
            src="../styles/images/search_icon_noBackground.png"
            alt="Search"
            width="40"
            height="40"
          />
        </a>
        <div class="circle">
          <a href="/feeds/buckets?show=inprogress">
            <img
              src="../styles/images/bucket_icon_noBackground.png"
              alt="Bucket"
              width="50"
              height="50"
            />
          </a>
        </div>
        <a href="/notes">
          <img
            src="../styles/images/note_icon_noBackground.png"
            alt="Notes"
            width="40"
            height="40"
          />
        </a>
        <a href="/profile">
          <img
            src="../styles/images/profile_icon_noBackground.png"
            alt="Profile"
            width="40"
            height="40"
          />
        </a>
      </div>
    </div>
  </body>
</html>
