<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page needs styling: Please follow the figma design</h1>
    <% data.forEach( message => { %> 
        <div class="post">
          <a href="/profile/<%=message.bucket.user.id%>">
          <img src="<%=message.bucket.user.profileImg %>" style="z-index: 0;  margin-top: 3vh;  width: 6.5vh; height: auto;"  class="user-picture user-avatar"></a>
          <div class="post-content" style="padding: 10px">
            <p class="message.bucket.user.username"><%= message.bucket.user.username %></p>
            <p class="bucket-info">
              <%= message.bucket.title %>
              <span class="<%= message.bucket.completed ? 'Completed': 'InProgress' %>"><%= message.bucket.completed ? 'Completed': 'In Progress' %></span>
            </p>
            <p class="post-message"><%= message.content %></p>
          </div>
          <div class="post-actions">
            <button type="button" class="like-button" onclick="toggleLike(event)">
              <i class="far fa-heart"></i>
            </button>  
            <a href="/profile/comment/<%=message.id%>" class="comment-button">
              <i class="far fa-comment-alt"></i>
            </a>
          </div>
        </div>
 <% }) %>


</body>
</html>