<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Bucket Progress</title>
  </head>
  <body>
    <h1><%=bucketTitle%></h1>



    <% if(tasks.Task.length == 0){ %>
      <p>You currently don't have any milestone tasks. Do you want to add?</p>

    <% } else{ %>  
      <progress
      id="progressbar"
      value="<%= numOfCompleted %>"
      max="<%= tasks.Task.length %>"
    >
      32%
    </progress>
    <br />
    <br />
   <% } %>

    <input type="text" name="taskEntry" placeholder="Enter a task">
    <button id="addTask">Add</button>
    <ul>
      <% tasks.Task.forEach(function(task) { %>
      <li>
        <label>
          <input <%= task.completed ? "checked='checked'": null %> type="checkbox" name="milestoneTask" value="<%= task.id %>" />
          <%= task.message %>
        </label>
      </li>
      <% }) %>
    </ul>
    <button id="completeBucketlist">Complete Bucketlist</button>
    <script>
 
      function addProgressBar(){
        const progressBar = document.getElementById("progressbar");
        progressBar.value++;
      }
      
      function completeProgressBar(){
        const progressBar = document.getElementById("progressbar");
        progressBar.value = 100;
      }

      function minusProgressBar(){
        const progressBar = document.getElementById("progressbar");
        progressBar.value--;
      }

      async function addTaskHandler() {
        const task = document.querySelector("input[name=taskEntry]").value;
        const pathArr = window.location.pathname.split("/");
        const path = pathArr[pathArr.length - 1]
        const res = await fetch("/feeds/addTask", { body: JSON.stringify({ task, path }), method: "POST", headers: { "Content-Type": "application/json"} });
        const { success, taskId } = await res.json();
        if (success) {
          completeProgressBar();
          document.querySelector("ul").innerHTML += 
          `
            <li>
              <label>
                <input type="checkbox" name="milestoneTask" value="${taskId}" />
                ${task}
              </label>
            </li>
          `
          addCheckboxListeners();
        }
        
        minusProgressBar();
      }

      document.querySelector("#addTask").addEventListener("click", addTaskHandler);

      addCheckboxListeners();

      function addCheckboxListeners() {
        let checkboxNodes = Array.from(document.querySelectorAll("input[name=milestoneTask]"));
        checkboxNodes.forEach(function (checkbox) {
          checkbox.addEventListener("change", async function (event) {
            const taskId = event.target.value;
            const completed = event.target.checked;

            const res = await fetch(`/feeds/updateTask/${taskId}`, { body: JSON.stringify({ completed }), method: "POST", headers: { "Content-Type": "application/json"} });

            addProgressBar();
          });
        });
      }
      
      async function completeBucketlist(){
        console.log("I was hit");
        const urlArr = window.location.pathname.split("/");
        const bucket_id = urlArr[urlArr.length - 1];
        console.log(bucket_id);

        const res = await fetch("/feeds/bucket/:id", { body: JSON.stringify({ bucket_id }), method: "POST", headers: { "Content-Type": "application/json"} });
        const { success } = await res.json();
        
        if (success) {
          completeProgressBar()
          document.querySelector("ul").innerHTML = "Bucketlist Completed!" 
        }
      }
      
      const completeBtn = document.querySelector("#completeBucketlist");
      completeBtn.addEventListener("click", completeBucketlist);
    </script>
  </body>
</html>
